#AnchorPaneHeader{
    -fx-background-color:  #465a7d;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 0px 0px 1.5px 0px;
}

#AnchorPaneMonitor{
    -fx-border-color: #f0f0f0; 
    -fx-border-width: 0px 0px 0px 1.5px;
}

#AnchorPaneFooter{
    -fx-background-color:  #465a7d;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 1.5px 0px 0px 0px;
}

.label, .button, .textfield{
    -fx-font-family: "Verdana";
}

#btn01, #btn02, #btn03, #btn04, #btn05, #btn06, #btn07, #btn08, #btn09, #btn10, #btn11, #btn12{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #d2d9e2;
    -fx-background-radius: 0px;
    -fx-background-color: #c4cdda;
    -fx-text-fill: #000000;    
    -fx-font-size: 11px;
    -fx-font-family: "Verdana";
}

#btn01:hover, #btn02:hover, #btn03:hover, #btn04:hover, #btn05:hover, #btn06:hover,
#btn07:hover, #btn08:hover, #btn09:hover, #btn10:hover, #btn11:hover, #btn12:hover{
    -fx-background-color: #b6c1d2;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}


