#AnchorPaneHeader{
    -fx-background-color:  #505050;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 0px 0px 1.5px 0px;
}

#AnchorPaneMonitor{
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 0px 0px 0px 1.5px;
    -fx-background-color:  #E9E9E9;
}

#AnchorPaneFooter{
    -fx-background-color:  #505050;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 1.5px 0px 0px 0px;
}

.label, .button, .textfield{
    -fx-font-family: "Cambria";
}




