#AnchorPaneHeader{
    -fx-background-color:  #465a7d;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 0px 0px 1.5px 0px;
}

#AnchorPaneMonitor{
    -fx-border-color: #f0f0f0; 
    -fx-border-width: 0px 0px 0px 1.5px;
}

#AnchorPaneFooter{
    -fx-background-color:  #465a7d;
    -fx-border-color: #cdcdcd; 
    -fx-border-width: 1.5px 0px 0px 0px;
}

.label, .button, .textfield{
    -fx-font-family: "Verdana";
}




