#TransHeader{
    -fx-background-color:  #b6c1d2;
}

#TransHeader .label{
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #000000; 
    -fx-background-color: transparent;
}

#TransButtons{
    -fx-background-color: #c4cdda;
}

#OtherTrans .label{
    -fx-font-size: 11px;
}

#TransBody{
    -fx-background-color: #f4f5f7;
}


.label, .button, .textfield{
    -fx-font-family: "Verdana";
}

#btnSearch{
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 10px;
    -fx-background-color: #465a7d;
    -fx-text-fill: #ffffff;    
    -fx-font-size: 12px;
}

#btnSearch:hover{
    -fx-background-color: #b6c1d2;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

#HBoxSearch{
    -fx-background-color:  #E9E9E9;
}

#btn01, #btn02, #btn03, #btn04, #btn05, #btn06, #btn07, #btn08, #btn09, #btn10, #btn11, #btn12{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #d2d9e2;
    -fx-background-radius: 0px;
    -fx-background-color: #c4cdda;
    -fx-text-fill: #000000;    
    -fx-font-size: 11px;
    -fx-font-family: "Verdana";
}

#btn01:hover, #btn02:hover, #btn03:hover, #btn04:hover, #btn05:hover, #btn06:hover,
#btn07:hover, #btn08:hover, #btn09:hover, #btn10:hover, #btn11:hover, #btn12:hover{
    -fx-background-color: #b6c1d2;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

